<h2 class="float-start mt-4" style="margin-right: 10px;">Maceió IN</h2>

 <%= button_to "Sair", destroy_user_session_path, method: :delete, data: { turbo: false } %>

<div class="float-end mt-4 me-3">
  <%= link_to(new_employee_path, class: 'btn btn-custom') do %>
    <i class="bi bi-plus-lg"></i> Criar um novo cadastro
  <% end %>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead style="background-color: #ffa500; color: white;">
    <tr>
      <th style="background-color: #ffa500; color: black;">Nome</th>
      <th style="background-color: #ffa500; color: black;">Setor</th>
      <th style="background-color: #ffa500; color: black;">E-mail</th>
      <th style="background-color: #ffa500; color: black;"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.translated_department %></td>
        <td><%= employee.email %></td>
        <td>
          <%= link_to('editar', edit_employee_path(employee), class: 'btn btn-sm') %>
          <%= button_to 'Excluir', employee_path(employee), method: :delete, data: { turbo_confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
