<div class="card" style="border-radius: 1rem;">
  <div class="row g-0">
    <div class="col-md-12 col-lg-12 d-flex align-items-center">
      <div class="card-body p-4 p-lg-5 text-black">
        <h2>Acesse sua conta</h2>
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3">
            <%= f.label :email, class: "form-label fw-bold" %>
            <%= f.email_field :email, class: "form-control", required: true, autofocus: true %>
          </div>

          <div class="mb-3">
            <%= f.label :password, t('devise.shared.password'), class: "form-label fw-bold" %>
            <%= f.password_field :password, class: "form-control", required: true %>

          </div>

          <div class="form-check mb-3">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, t('devise.sessions.new.remember_me'), class: "form-check-label" %>
          </div>

          <%= f.submit "Entrar", class: "btn btn-orange w-100" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
